*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;

}

body{
	color:white;
	min-height: 100vh;
	background: black;
}
/* HEADER + NAV*/
	.header{
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		padding: 20px 120px;
		justify-content: space-between;
		display: flex;
		align-items: center;
		z-index:100;
	}
	
	a.logo{
		font-weight:700;
		font-size: 32px;
		color:white;
		text-decoration: none;
	}
	
	.navbar li{
		float: left;
		text-decoration: none;
		list-style-type: none;;
	}

	.navbar a{
		position: relative;
		margin-left: 40px;
		text-decoration: none;
		font-weight: 500;
		font-size: 20px;
		color:white;
	}
	
	.navbar a::before{
		content: '';
		position: absolute;
		top: 100%;
		width:0;
		height:3px;
		background: white;
		transition: .3s;
	}
	
	.navbar a:hover::before, a.active::before{
		width:100%;
	}
	
	.navbar a:hover, a.active{
		color: #c6ebd3
;
	}
	.home{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	section{
		min-height: 100vh;
	}

	section img{
		position: absolute;
		object-fit: cover;
		width: 100%;
		height: 100%;
		left: 0;
	}

	#people{
		z-index: 11;
	}

	#divider-1{
		z-index: 12;
		top: 90%;
		height: auto;

	}

	#title-1, #title-2{
		position: absolute;
		color: white;
		font-size: 20px;;
		animation: title linear;
		animation-timeline: scroll();
		left: 15%;
		top: 21%;
		z-index: 10;
		padding-right: 15%;
		text-shadow: 0 10px 4px rgb(21, 29, 25);
	}

	#title-2
	{
		font-size: 70px;;
		margin-top: 13px;
	}

	@keyframes title{
		to{
			transform: translateY(500px);
		}
	}

	.overview{
		position: relative;
		padding: 6% 5%;
		background: #48564D;
		min-height: auto;
	}

	.overview h2{
		font-size: 3.5rem;
		text-align: center;
	}

	.overview p{
		margin-top: 15px;
		text-align: justify;
		font-size: 20px;
		/* font-family: sans-serif; */
	}

	#divider-2{
		height: auto;
		top: 83%;
	}

	.article-holder{
		padding: 15% 10%;
		background: url(busyroad.png);
		background-position: center;
		background-size:cover;
		background-repeat: no-repeat;
	}

	.button{
		background:#48564D;
		color:ghostwhite;
		border-radius: 25px;
		text-decoration: none;
		padding: .5rem 1rem;
		border: 2px solid #48564D;
		transition: all .3s ease;
		font-weight: 500;
	}

	.button:hover{
		background:#c6ebd3;
		color:#48564D;
	}

	.articles{
		display:flex;
		align-items: center;
		justify-content: center;
		gap: 5rem;
	}

	.article{
		padding:2% 2.5%;
		background:#b4cabc;
		border:2px solid #48564D;
		text-align: center;
		border-radius: 25px;
		display: block;
		transition: all .4s ease;
	}

	.articles h3{
		font-size: 30px;
	}

	.articles p{
		text-align: justify;
		margin-top: 3%;;
		margin-bottom: 8%;
	}
